<h2 *ngIf="title != undefined && title != null" mat-dialog-title>{{title}}</h2>
<mat-dialog-content>{{message}}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" (click)="close()">Fermer</button>
</mat-dialog-actions>
