<app-channel-list [refreshEmitter]="refreshEmitter" [addChannel]="addChannel"></app-channel-list>

<section class="buttons-position" *ngIf="dialogOpened === false">
  <button (click)="showDialog()" mat-fab color="accent" class="button-add">
    <i class="material-icons">add</i>
  </button>
</section>
