<h1>Suppression de {{channel.name}}</h1>
<mat-dialog-content>
  Êtes vous sûr de vouloir supprimer {{channel.name}}?
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="cancel()">Annuler</button>
  <button mat-button color="accent" (click)="remove()">Supprimer !</button>
</mat-dialog-actions>

