<h2 mat-dialog-title >Modifier votre message</h2>
<div class="input_dialog">
  <form action="" (ngSubmit)="update()">
    <mat-form-field class="message_edit_input">
      <mat-label>Modifier votre message</mat-label>
      <input class="message_edit_input" matInput autocomplete="off" type="text" name="message" [(ngModel)]="message" placeholder="modification du message" align="end" required/>
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-button color="accent" (click)="close()">Fermer !</button>
      <button type="submit" mat-button color="primary" [disabled]="message.length == 0" (click)="update()" >Mettre à jour!</button>
    </mat-dialog-actions>
  </form>
</div>
