<h2 mat-dialog-title>Créer un nouveau salon</h2>
<form action="" (ngSubmit)="create()">
  <mat-form-field>
    <mat-label>Nom du nouveau salon:</mat-label>
    <input matInput autocomplete="off" type="text" name="channel" [(ngModel)]="name" placeholder="Ex: Mon salon" required/>
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-button color="accent" (click)="close()">Fermer !</button>
    <button type="submit" mat-button color="primary" [disabled]="name.length == 0" (click)="create()" >Créer !</button>
  </mat-dialog-actions>
</form>
