<div class="message_full">
  <span class="message_content">
  <span class="message_pseudo">{{message.pseudo}}</span> : {{message.message}}
</span>
  <span class="message_date">
    <span *ngIf="message.timestamp > timestampLimit()">
      [{{message.timestamp | date: 'HH:mm'}}]
    </span>
    <span *ngIf="message.timestamp <= timestampLimit()">
      [{{message.timestamp | date: 'YYYY-MM-dd, HH:mm'}}]
    </span> <br />
    <span *ngIf="data.getLogin()===message.pseudo">
      <button  mat-icon-button  (click)="updateMessage()">
        <mat-icon>create</mat-icon>
      </button>
    </span>
    <button [matBadge]="likeBadge()" mat-icon-button [color]="likeColor()" (click)="toggleLike()">
        <mat-icon>thumb_up</mat-icon>
    </button>
  </span>
</div>

