.message_pseudo
{
  font-weight: bold;
}
.message_content
{
  display: inline-block;
  width: calc(100% - 140px);

}
.message_date
{
  color: lightgrey;
  display: inline-block;
  width: 140px;
  text-align: right;
  float: right;
}
.message_full
{
  min-height: 38px;
  margin-bottom: 5px;
  margin-top: 5px;
}

