<mat-toolbar color="primary">
  <span class="app_link">
    <a [routerLink]="['/main']" id="app_link">{{data.appName()}}</a>
  </span>
  <button *ngIf="data.isLoginOk()" mat-button color="accent" (click)="disconnect()">Déconnexion</button>
</mat-toolbar>
<router-outlet></router-outlet>
