<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<form action="">
  <mat-form-field  class="full-width" method="post">
    <mat-label>Favorite FOOD</mat-label>
    <input matInput type="text" placeholder="LOL" value="suchi"/>
  </mat-form-field>
</form>

<mat-dialog-actions align="end">
  <button mat-raised-button type="button" >Cancel</button>
  <button mat-button color="primary" type="submit" >Save</button>
</mat-dialog-actions>
