<span class="channel_item_name" (click)="openChannel()">{{this.name}}</span>
<mat-dialog-actions class="channel_item_buttons">
  <button mat-icon-button (click)="openChannel()"  color="primary" aria-label="Se connecter !">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button mat-icon-button (click)="deleteChannel()" aria-label="Supprimer !">
    <mat-icon>delete_sweep</mat-icon>
  </button>
</mat-dialog-actions>
