<mat-list class="channel_list">
  <mat-list-item *ngFor="let item of page" >
    <app-channel-item [refreshEmitter]="refreshEmitter" name="{{item.name}}" id="{{item.id}}"></app-channel-item>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
