<mat-card class="login_card">
  <h1>Connexion à l'application</h1>
  <form (ngSubmit)="go()">
    <mat-form-field class="login_input">
      <mat-label>Pseudonyme</mat-label>
      <input  matInput autocomplete="off" type="text" placeholder="Votre nom sur l'application" name="login" [(ngModel)]="login" required/>
    </mat-form-field>
    <div class="login_buttons">
    <button type="submit" (click)="go()" mat-button color="primary">Go !</button>
    <button (click)="clear()" mat-button >Clear !</button>
    </div>
  </form>
</mat-card>
