/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; margin: 0; padding: 0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root {
  height: 100vh;
  margin: 0;
}
app-edit-message-dialog{
  max-width: 1024px;
  margin: auto;

}
