<mat-card class="discussion_page_card">
  <div *ngIf="channel != null && channel != undefined">
    <mat-card-title>Salon: {{channel.name}}</mat-card-title>
    <div *ngIf="messages != null && messages != undefined" class="discussion_page_scroll" id="discussion_page_scroll">
      <mat-list *ngIf="messages.length > 0">
        <mat-list-item *ngFor="let item of messages" class="message_list_item" >
          <app-message [message]="item" ></app-message>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <div *ngIf="messages.length == 0" class="no_messages">
        Il n'y a pas encore de message, ajoutez en un !
      </div>
    </div>
    <div class="message_spinner" *ngIf="messages == null || messages == undefined">
      <mat-spinner></mat-spinner>
    </div>
    <form (ngSubmit)="sendMessage()">
      <div class="center">
        <mat-form-field class="input_message">
          <mat-label>Message</mat-label>
          <input matInput autocomplete="off" id="message_input" name="message" [(ngModel)]="message" placeholder="Écrivez votre message ici...">
        </mat-form-field>
        <button [disabled]="message.length == 0" (click)="sendMessage()"  mat-icon-button color="primary">
          <mat-icon type="submit">send</mat-icon>
        </button>
      </div>
    </form>
    <div>
      <mat-slide-toggle color="primary" [checked]="autoScrollEnabled" (toggleChange)="toggleAutoScroll()">Défilement automatique</mat-slide-toggle>
      <span class="discussion_page_scroll_arrows">
          <button mat-icon-button color="primary" (click)="scrollUp(false)" >
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="scrollDown(false)" >
            <mat-icon>arrow_downward</mat-icon>
          </button>
        </span>
    </div>

  </div>
  <div class="message_spinner" *ngIf="channel == null || channel == undefined">
    <mat-spinner></mat-spinner>
  </div>
</mat-card>
