.input_message{
  width: 90%;
  margin: auto;

}
.center{
  display: flex;
  justify-content: center;
}
.message_spinner
{
  display: flex;
  justify-content: center;
}
.discussion_page_card
{
  max-width: 1024px;
  margin: auto;
  height: calc(100vh - 96px);
  min-height: 210px;
}
.discussion_page_scroll
{
  height: calc(100vh - 210px);
  min-height: 100px;
  overflow-y: auto;
}
app-message
{
  width: 100%;
}
.message_list_item
{
  height: auto !important;
  min-height: 48px !important;
}
.mat-list-item-content
{
  padding: 0px !important;
  padding-left: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
.no_messages
{
  margin-top: 20vh;
  text-align: center;
}
.discussion_page_scroll_arrows
{
  display: block;
  float: right;
}
