.channel_header
{
  max-width: 1024px;
  margin: auto;
}

.channel_list mat-list-item
{
  width: 100%;
}

.channel_list mat-list-item *
{
  width: 100%;
}
.channel_spinner
{
  display: flex;
  justify-content: center;
}
