<mat-card class="channel_header">
  <h1>Bienvenue {{data.getLogin()}},</h1>

  <div *ngIf="list != null && list != undefined">
    <mat-dialog-actions>
      <button mat-icon-button color="primary" (click)="refreshList()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-dialog-actions>
    <mat-paginator [length]="list.length" [pageSize]="data.getElementsByPage()" [pageSizeOptions]="data.getElementsByPageAvailable()" (page)="updatePage($event)" [pageIndex]="currentPage" ></mat-paginator>
    <app-channel-list-page [refreshEmitter]="refreshEmitter" [page]="page"></app-channel-list-page>

    <div *ngIf="list != null && list.length === 0" class="channel_spinner">
      <mat-dialog-actions><button mat-raised-button color="primary" (click)="showDialog()">Ajouter un salon</button></mat-dialog-actions>
    </div>
    <mat-paginator [length]="list.length" [pageSize]="data.getElementsByPage()" [pageSizeOptions]="data.getElementsByPageAvailable()" (page)="updatePage($event)" [pageIndex]="currentPage" ></mat-paginator>
  </div>
  <div *ngIf="list == null || list == undefined" class="channel_spinner">
    <mat-spinner color="accent" ></mat-spinner>
  </div>

</mat-card>


